
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Tim/app.thesmsfacademy.com.au/developer/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Tim/app.thesmsfacademy.com.au/developer/wordpress/index.php [L]
</IfModule>

# END WordPress